h1{
    font-size: 40;
    color: #A91515;
    text-align: center;
}

.green{
    text-decoration: none;
    color: #D52E2E;
    padding: 30px;
    font-size: 25px;
    text-align: center;
}

.black{
    color: #A91515;
    font-size: 35px;
    text-align: center;
}

.white{
    font-size: 30px;
}

.hourse{
    background-color: #FFA9A9;
}

footer p{
    font-size: 35px;
}

.block{
    position: absolute;
    left: 400px;
}

.bluck{
    position: relative;
    left: 300px;
}

.gold{
    background-color: #FFA9A9;
}

nav{
    text-align: center;
}

.black:hover{
    background-color: #FFA9A9;
    font-size: 45px;
    transition: 0.5s font-size ease-out;
}

main img:hover{
width: 690px;
height: 500px;
transition: 1s  ease-in;
}

.green:hover{
    color: #af1e2a ;
    font-size: 35px;
    transition: 1s font-size ease-out;
}
